<div class="outer-content-div">
  <div class="middle-content-div">
    <div class="inner-content-div">
      <%= image_tag("Chris_B&W_Circle.png", alt: "Christopher Boyle", size: 192 ) %>
      <h1>Christopher Boyle</h1>
    </div>
  </div>
</div>
