/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

//Dark blue is:  #374355
//Dark Grey is: #ABD9C9
//Light Grey is: #C9D3DF

body {
  background-color: #374355;
}

.navbar-nav {
  background: transparent;
  border: transparent;
  margin: 0px 0px 0px 0px;
  padding: 20px 0px 0px 20px;

  li {
    padding-right: 20px;

    a {
      color: white;
    }

    a:hover {
      color: #C9D3DF;
    }
  }
}

.main-content {
  height: 100vh;
  width: 100vw;

  .outer-content-div {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;

    .middle-content-div {
      display: table-cell;
      vertical-align: middle;
      .inner-content-div {
        margin-left: auto;
        margin-right: auto;
        width: 192px;

        h1 {
          color: white;
          text-align: center;
          font-weight: 300;
          font-size: 24px;
          text-rendering: optimizeLegibility;
        }
      }
    }
  }
}
