<ul class="nav navbar-nav">
  <li><%= link_to "", "https://www.linkedin.com/in/christopher-boyle-66505459", class: "fa fa-linkedin-square fa-2x" %></li>
  <li><%= link_to "", "https://github.com/christopherboyle", class: "fa fa-github fa-2x" %></li>
  <li><%= link_to "", "https://vimeo.com/", class: "fa fa-vimeo fa-2x" %></li>
</ul>
