<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "", "https://www.linkedin.com/in/christopher-boyle-66505459", class: "fa fa-linkedin-square" %></li>
        <li><%= link_to "", "https://github.com/christopherboyle", class: "fa fa-github" %></li>
        <li><%= link_to "", "https://vimeo.com/", class: "fa fa-vimeo" %></li>
      </ul>
    </div>
  </div>
</div>